<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password | SnapStream</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>

  <body class="auth-page reset-page">
    <div class="auth-body">
      <div class="login-card">
        <h1>Reset Password</h1>
        <p class="subtitle">Enter your new password</p>

        <form method="POST" id="resetPasswordForm">
          <label>New Password <span>*</span></label>
          <div class="password-wrapper-reset">
            <input
              type="password"
              name="new_password"
              id="new_password"
              placeholder="New Password"
              required
            />
            <span class="eye-btn-reset" data-target="new_password">
              <i class="ph ph-eye"></i>
              <i class="ph ph-eye-slash" style="display: none"></i>
            </span>
          </div>

          <label>Confirm Password <span>*</span></label>
          <div class="password-wrapper-reset">
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm Password"
              required
            />
            <span class="eye-btn-reset" data-target="confirm_password">
              <i class="ph ph-eye"></i>
              <i class="ph ph-eye-slash" style="display: none"></i>
            </span>
          </div>

          <button type="submit" class="btn-primary">Reset Password →</button>
        </form>

        <p class="bottom-text">
          <a href="{{ url_for('main_routes.admin_login') }}"
            >Back to Admin Login</a
          >
        </p>
      </div>
    </div>

    <div id="toast-container"></div>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>

    <script>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          showToast("{{ message }}", "{{ category }}");
        {% endfor %}
      {% endwith %}
    </script>
  </body>
</html>
