<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Forgot Password | SnapStream</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>

  <body class="auth-page forgot-page">
    <div class="auth-body">
      <div class="login-card">
        <h1>Forgot Password</h1>
        <p class="subtitle">Enter your registered admin email</p>

        <form
          method="POST"
          action="{{ url_for('main_routes.admin_forgot_password') }}"
        >
          <label>Email Address <span>*</span></label>
          <input
            type="email"
            name="email"
            placeholder="Enter your admin email"
            required
          />
          <button type="submit" class="btn-primary">Continue →</button>
        </form>

        <p class="bottom-text">
          <a href="{{ url_for('main_routes.admin_login') }}"
            >Back to Admin Login</a
          >
        </p>
      </div>
    </div>
    <div id="toast-container"></div>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>

    <script>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          showToast("{{ message }}", "{{ category }}");
        {% endfor %}
      {% endwith %}
    </script>
  </body>
</html>
