<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SnapStream | Admin Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='auth.css') }}"
    />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>

  <body class="auth-page login-page">
    <div class="auth-body">
      <div class="login-card">
        <div class="admin-header">
          <div class="icon-box">
            <i class="ph ph-user-plus"></i>
          </div>

          <div class="admin-title">
            <h1>Admin Login</h1>
            <p class="subtitle">Secure administrative access</p>
          </div>
        </div>

        <form method="POST">
          <label>Email Address <span>*</span></label>
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
            value="{{ request.form.get('email', '') }}"
          />

          <label>Password <span>*</span></label>
          <div class="password-wrapper">
            <input
              type="password"
              name="password"
              id="admin_password"
              placeholder="Enter your password"
              required
            />
            <span class="eye-btn" id="toggleAdminPassword">
              <i class="ph ph-eye" id="eye-open"></i>
              <i
                class="ph ph-eye-slash"
                id="eye-closed"
                style="display: none"
              ></i>
            </span>
          </div>

          <a
            class="forgot"
            href="{{ url_for('main_routes.admin_forgot_password') }}"
          >
            Forgot Password?
          </a>

          <button type="submit" class="btn-primary">Login →</button>
        </form>

        <p class="bottom-text">
          New admin?
          <a href="{{ url_for('main_routes.admin_signup') }}">Create Account</a>
        </p>

        <p class="bottom-text">
          Not an admin?
          <a href="{{ url_for('main_routes.login') }}">User Login</a>
        </p>
      </div>
    </div>

    <div id="toast-container"></div>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="{{ url_for('static', filename='auth.js') }}"></script>

    <script>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for cat,msg in messages %}
          showToast("{{ msg }}","{{ cat }}");
        {% endfor %}
      {% endwith %}
    </script>
  </body>
</html>
